.messages {
    height: 100%;
    .messages-box {
        height: calc(100% - 240px);
        overflow: auto;
    }

    .message-self {
        border-left: 2px solid orange;
        padding-left: 8px;
    }

    .message-image {
        padding: 1rem;
    }
}
